In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('/data/snlp/zhangjl/datas/ctr/criteo_sample_50w.csv')

In [4]:
data.head()

,label,I1,I2,I3,I4,I5,I6,I7,I8,I9,...,C17,C18,C19,C20,C21,C22,C23,C24,C25,C26
0,1,1.0,25,32.0,8.0,1.0,10.0,22.0,7.0,23.0,...,e5ba7672,6fc84bfb,NaN,NaN,5155d8a3,NaN,423fab69,ded4aac9,NaN,NaN
1,0,NaN,-1,4.0,4.0,3348.0,12.0,82.0,7.0,164.0,...,e5ba7672,e7e991cb,21ddcdc9,a458ea53,1826f894,NaN,423fab69,3fdb382b,ea9a246c,be8b4aee
2,0,NaN,1,13.0,3.0,4356.0,17.0,2.0,3.0,10.0,...,07c540c4,7ef5affa,9908ba56,a458ea53,88d27c62,NaN,32c7478e,3fdb382b,001f3601,49d68486
3,0,NaN,28,1.0,NaN,11064.0,51.0,3.0,6.0,45.0,...,07c540c4,63aa00dd,NaN,NaN,424af181,NaN,3a171ecb,869caea3,NaN,NaN
4,0,3.0,-1,2.0,2.0,931.0,25.0,3.0,15.0,18.0,...,776ce399,0f2f9850,26e97973,a458ea53,d7c93a6d,NaN,32c7478e,a9a2ac1a,9b3e8820,3547c540

In [5]:
dense_features = [f for f in data.columns.tolist() if f[0] == "I"]
sparse_features = [f for f in data.columns.tolist() if f[0] == "C"]

In [8]:
data[sparse_features] = data[sparse_features].fillna('-10086', )
data[dense_features] = data[dense_features].fillna(0, )

In [9]:
data.head()

,label,I1,I2,I3,I4,I5,I6,I7,I8,I9,...,C17,C18,C19,C20,C21,C22,C23,C24,C25,C26
0,1,1.0,25,32.0,8.0,1.0,10.0,22.0,7.0,23.0,...,e5ba7672,6fc84bfb,-10086,-10086,5155d8a3,-10086,423fab69,ded4aac9,-10086,-10086
1,0,0.0,-1,4.0,4.0,3348.0,12.0,82.0,7.0,164.0,...,e5ba7672,e7e991cb,21ddcdc9,a458ea53,1826f894,-10086,423fab69,3fdb382b,ea9a246c,be8b4aee
2,0,0.0,1,13.0,3.0,4356.0,17.0,2.0,3.0,10.0,...,07c540c4,7ef5affa,9908ba56,a458ea53,88d27c62,-10086,32c7478e,3fdb382b,001f3601,49d68486
3,0,0.0,28,1.0,0.0,11064.0,51.0,3.0,6.0,45.0,...,07c540c4,63aa00dd,-10086,-10086,424af181,-10086,3a171ecb,869caea3,-10086,-10086
4,0,3.0,-1,2.0,2.0,931.0,25.0,3.0,15.0,18.0,...,776ce399,0f2f9850,26e97973,a458ea53,d7c93a6d,-10086,32c7478e,a9a2ac1a,9b3e8820,3547c540

In [10]:
target = ['label']